.numbers{
    background-color: #a82d49;
    padding: 25px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.numbers .row{
    margin: 10px 0px;
}
.numbers h2{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;

}
.numbers h6{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.pride{
    background-color: transparent;
        padding: 25px 0px;
        max-width: 100%;
        height: auto;
        
        overflow: hidden;
        margin-top: 50px;
}
.pride img{
    max-width: 100%;
    border-radius: 10px;
}
.pride button {
    width: 150px;
    height: 50px;
    background-color: #7c0f28;
    border: 2px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.pride button:hover {
    transition: .2s ease-in-out;
    background-color: #fff;
        color: #7c0f28;
}
.pride h2,
.paralex h2
{
    color: #50091a;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
}
.pride p,
.paralex p
{
    font-size: 16px;
    line-height: 28px;
    color: #333;
}
.ingrid{
    background-color: transparent;
        padding: 25px 0px;
        max-width: 100%;
        height: auto;
        
        overflow: hidden;
        margin-top: 50px;
}
.ingrid img{
    max-width: 100%;
    border-radius: 10px;
}
.ingrid button {
    width: 150px;
    height: 50px;
    background-color: #7c0f28;
    border: 2px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff !important;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.ingrid button:hover {
    transition: .2s ease-in-out;
    background-color: #fff;
        color: #7c0f28;
}
.ingrid button:hover a,
.pride button:hover a{
    
        color: #7c0f28;
}
.ingrid h2 {
    color: #50091a;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
}
.ingrid p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
}
.ingrid a,
.pride a
{
    text-decoration: none;
    color: #fff;
}
.paralex{
    background: url(../Assets/1.jpg) center no-repeat;
    width: 100%;
    height: 400px;
    padding: 30px;
    text-align: center;
    background-size:cover ;
}
.paralex .row{
    margin: 50px;
}
.paralex h2{
    width: 100%;
    margin: 20px;
}
.paralex p{
    margin: 20px;
}
.sliderx{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding: 25px 0px;
}
.sliderx .carousel{
    background-color: #ffffff;
    margin: 40px 0px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 0px;
}
.sliderx img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 150px;
    
}
.sliderx .carousel-caption p{
    color: #000;
    font-size: 17px;
    line-height: 30px;
    
}
.sliderx .carousel-caption h3{
    color: #77132b;
    display: block;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 17px;
 }
 .sliderx .carousel-indicators [data-bs-target] {
     box-sizing: content-box;
     flex: 0 1 auto;
     width: 30px;
     height: 3px;
     padding: 0;
     margin-right: 3px;
     margin-left: 3px;
     text-indent: -999px;
     cursor: pointer;
     background-color: var(--bs-carousel-indicator-active-bg);
     background-clip: padding-box;
     border: 0;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     opacity: .5;
     transition: opacity .6s ease;
     background-color: #000000;
 }
 